<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <span class="mapouter">
            <span class="gmap_canvas">
                <iframe id="gmap_canvas" title="map location"
                    src="https://maps.google.com/maps?q=66%20Ernest%20Street%20,%20South%20Brisbane%20Qld%204101&t=&z=13&ie=UTF8&iwloc=&output=embed">
                </iframe>
            </span>
        </span>
        <p>© Copyright ML Gym. All Rights Reserved.</p>
    
</body>
</html>