<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<img src="/images/ml-logo-1.png" alt="ML Gym logo">
<div class="burger-icon" id="menu-toggle">
    <div class="burger-line"></div>
    <div class="burger-line"></div>
    <div class="burger-line"></div>
</div>
<ul id="menu-items">
    <li><a href="/index.html">HOME</a></li>
    <li><a href="/html/about.html">ABOUT</a></li>
    <li><a href="/html/pricing.html">PRICING</a></li>
    <li><a href="/html/schedule.html">SCHEDULE</a></li>
    <li><a href="/html/contact.html">CONTACT US</a></li>
    <li><a href="/html/contact.html">FREE TRIAL CLASS</a></li>
</ul>

</body>
</html>